<div
  class="grid"
  cdkDropList
  cdkDropListOrientation="mixed"
  (cdkDropListDropped)="drop($event)"
>
  @if (noteItems.length === 0) {
    <div class="empty-message">
      Take a note or press
      <button mat-button disabled>Generate samples</button>
      to begin...
    </div>
  }
  @for (noteItem of noteItems; track noteItem.id) {
    <div class="note-item" cdkDrag>
      <strong>{{noteItem.title}}</strong>
      <p>
        {{noteItem.description}}
      </p>
      <div cdkDragHandle class="drag-handle">
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="delete(noteItem.id)">Delete</button>
      </mat-menu>
    </div>
  }
</div>
