<form [formGroup]="noteForm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field [subscriptSizing]="isExpanded ? 'fixed' : 'dynamic'">
    <mat-label>Take a note...</mat-label>
    <input matInput formControlName="title" (focus)="isExpanded = true">
  </mat-form-field>
  @if (isExpanded) {
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" cdkTextareaAutosize></textarea>
    </mat-form-field>
    <div class="footer">
      <button type="button" mat-button (click)="resetForm()">Cancel</button>
      <button type="submit" mat-raised-button>Add note</button>
    </div>
  }
</form>
